* {                                 /*configuracao em toda a pagina*/
    margin: 0;                      /*tira a margem padrao da pagina*/
    padding: 0;                     /*retira o espaco interno padrao*/
    outline: 0;                     /*retira a linha padrao por volta da borda*/
    box-sizing: border-box;         /*tira o espaco entre as margens*/
}

html, body, #root {                 /*edita o html, body e o root*/
    height: 100%;                   /*deixa todos com altura de 100%*/
}

body {                              /*edita o corpo da pagina*/
    background: #f5f5f5;          /*troca a cor do fundo*/
}

body, input, button {               /*troca a font do body e dos corpos que nao recebem por padrao a familia do body*/
    font-family: Arial, Helvetica, sans-serif;  /*a familia da fonte*/
}